<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body a="{{ $.Site.Params.theme_config.appearance | default "auto"}}">
        <main class="page-content" aria-label="Content">
            <div class="w">
                {{- block "main" . }}{{- end }}
                {{ partial "footer.html" }}
            </div>
        </main>
    <div id="scrollBuddy">
      <div class="head"></div>
      <div class="body"></div>
      <div class="left-arm"></div>
      <div class="left-arm-lower"></div>
      <div class="right-arm"></div>
      <div class="right-arm-lower"></div>
      <div class="left-leg-upper"></div>
      <div class="left-leg-lower"></div>
      <div class="left-foot"></div>
      <div class="right-leg-upper"></div>
      <div class="right-leg-lower"></div>
      <div class="right-foot"></div>
    </div>
    {{ $scrollBuddy := resources.Get "js/scrollBuddy.js" }}
  <script type="text/javascript" src="{{ $scrollBuddy.RelPermalink }}"></script>
  {{ $oneko := resources.Get "js/oneko.js" }}
  {{ $oneko_pic := resources.Get "js/oneko.gif" }}
  <script type="text/javascript" src="{{ $oneko.RelPermalink }}" data-cat="{{ $oneko_pic.Permalink }}"></script>
  {{ $randomText := resources.Get "js/randomText.js" }}
  <script type="text/javascript" src="{{ $randomText.RelPermalink }}"></script>
    </body>
</html>