{{ if site.Params.theme_config.isShowFooter }}
    {{ $randomReco := resources.Get "js/randomText.js" }}
    {{ $footerContent := readFile "layouts/footer.md" }}
    {{ if and $footerContent (ne $footerContent "") }}
        {{ $footerContent | markdownify }}
    {{ else }}
        {{ warnf "layouts/footer.md file is not found or empty. Falling back to default footer." }}
        <footer class="site-footer">
            <p>&copy; {{ now.Format "2006" }} {{ site.Title }}</p>
            <marquee id ="randomText"></marquee>
            <script type="text/javascript" src="{{ $randomReco.RelPermalink }}"></script>

            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Random Text on Button</title>
            <link rel="stylesheet" href="styles.css">

            <button id="randomButton">Click me for random text</button>
            <script src="randomText.js"></script>
        </footer>
    {{ end }}
{{ end }}